{% extends 'layout.twig' %}

{% block style %}
  <link href="../template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../template/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="../template/css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/display_current_leads.css">
{% endblock %}

{% block content %}
  {% include 'header.twig' %}
  <div class="container">
    {% for key, lead in leads %}
      <div class="container-telepro">
        <div class="pseudo">{{ key }}</div>
        <input type="hidden" name="id_telepro" value="{{ lead.id_telepro }}">
        <div class="content">
        {% for content in lead %}
          <div class="container-lead">
            {{ content.nom }} - {{ content.prenom }} - {{ content.telephone }}
            <i class="fa fa-times suppr-lead"></i>
            <input type="hidden" name="id_leads" value="{{ content.id }}">
          </div>
        {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  {% include 'footer.twig' %}
{% endblock %}

{% block script %}
  <script src="../template/vendor/jquery/jquery.min.js"></script>
  <script src="../template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../template/js/sb-admin.min.js"></script>
  <script src="../js/suppr_current_lead.js" charset="utf-8"></script>
{% endblock %}
